<launch>
<node pkg="tf" type="static_transform_publisher" name="env2red_cube"
args="3.8993 6.8152 0.7062 1.57 0 0 /map /red_cube 100"/>

<node pkg="tf" type="static_transform_publisher" name="env2black_cube"
args="3.8857 7.1383 0.6983 1.57 0 0 /map /black_cube 100"/>

<node pkg="tf" type="static_transform_publisher" name="env2blue_cube"
args="3.9341 7.5645 0.6872 1.57 0 0 /map /blue_cube 100"/>

<node pkg="tf" type="static_transform_publisher" name="low_table"
args="3.6 6.91 0.72 0 0 0 /map /low_table 100"/>

</launch>
