<launch>
<node pkg="tf" type="static_transform_publisher" name="env2red_cube"
args="3.8244 7.4318 0.6884 1.57 0 0 /map /red_cube 100"/>

<node pkg="tf" type="static_transform_publisher" name="env2black_cube"
args="3.7222 7.5205 0.6812 1.57 0 0 /map /black_cube 100"/>

<node pkg="tf" type="static_transform_publisher" name="env2blue_cube"
args="3.5540 6.5175 0.7105 1.57 0 0 /map /blue_cube 100"/>

<node pkg="tf" type="static_transform_publisher" name="table_area_1"
args="3.8703 6.5346 0.6569 0 0 0 /map /table_area_1 100"/>

<node pkg="tf" type="static_transform_publisher" name="table_area_2"
args="3.6333 7.0218 0.6367 0 0 0 /map /table_area_2 100"/>

<node pkg="tf" type="static_transform_publisher" name="table_area_3"
args="3.40575 7.6272 0.6270 0 0 0 /map /table_area_3 100"/>

<node pkg="tf" type="static_transform_publisher" name="small_table"
args="4.7673 5.3376 0.7589 0 0 0 /map /small_table 100"/>

</launch>
